.categories {
  padding: 40px 180px;
}

.categoriesWrapper {
  display: flex;
  justify-content: center;
}

.categoriWrapper {
  width: 135.89px;
  height: 200px;
  padding: 9px 0px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  margin-right: 10px;
  transition: all 500ms ease;
  cursor: pointer;
}

.categoriWrapper:last-child {
  margin-right: 0px;
}

.categoriWrapper:hover {
  transform: scale(1.2);
}

.categoriesTitle {
  font-size: 28px;
}
