.main {
  padding: 20px 0;
}

.goodsWrapper {
  padding: 10px 100px;
}

.empty {
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.back {
  border-radius: 8px;
  background: #0d63f3;
  color: #ffffff;
  width: 130px;
  height: 40px;
  padding: 10px 0px;
  margin-bottom: 60px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
}

.total {
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
  }
  
