.productWrapper {
  display: flex;
  padding: 100px;
  position: relative;
}

.img {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.titleImg {
  width: 500px;
  height: 500px;
  object-fit: contain;
  margin-bottom: 15px;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider > img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 15px;
}

.slider > img:last-child {
  margin-right: 0;
}

.descrWraper {
  display: flex;
  flex-direction: column;
  width: 72%;
  padding-top: 80px;
}

.productWrapper h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 70px;
}

.productWrapper p {
  font-size: 22px;
  margin-bottom: 88px;
}

.productWrapper button {
  border-radius: 8px;
  background: #0d63f3;
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding: 10px 0px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.back {
  border-radius: 8px;
  background: #0d63f3;
  color: #ffffff;
  width: 130px !important;
  height: 40px;
  padding: 10px 0px;
  margin-bottom: 60px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 40px;
}
