.catalog {
  position: fixed;
  left: -400px;
  top: 0;
  width: 28%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.03);
  transition: all 500ms ease;
  z-index: 999999999999999999999999;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoriWrapper {
  width: 87%;
  height: 70px;
  padding: 9px 0px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: all 500ms ease;
  cursor: pointer;
}

.categoriWrapper:last-child {
  margin-bottom: 0px;
}

.categoriWrapper img {
  height: 100%;
}
