header {
  display: flex;
  padding: 43px 185px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.katalog {
  border-radius: 8px;
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
  padding: 11px 25px 11px 25px;
  display: flex;
  align-items: center;
  color: white;
}

.katalog::before {
  content: "";
  background-image: url("../../../public/assets/icons/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  display: block;
  margin-right: 10px;
}

header div > input {
  border-radius: 8px;
  border: 1px solid #e4e7ee;
  background: #fff;
  width: 396px;
  height: 100%;
  padding: 14px 18px;
  font-family: "Nuckle";
}

header div > button {
  border-radius: 0px 8px 8px 0px;
  background: #0d63f3;
  width: 60px;
  height: 46px;
  height: 100%;
}

.cart {
  width: 60px;
  height: 100%;
  cursor: pointer;
}

.cartWrapper {
  display: flex;
  align-items: center;
}

.cartWrapper p{
margin-right: 20px;
font-size: 30px;
width: 100px;
}
