@font-face {
  font-family: 'Nuckle';
  src: url('../public/font/Nuckle-Medium.ttf');
}

html {
  max-width: 1600px;
  min-width: 1600px;
  margin: 0 auto;
  font-family: 'Nuckle';
}

.clickScale {
  transform: scale(1.2);
}
